@page

<!DOCTYPE html>
<html>

<head>
    <title>Razor Page View</title>
</head>

<body>
    <h1>Hello from Razor Page!</h1>
    <p>This is a Razor Page view.</p>
    <a href="https://localhost:7100/auth">auth a</a>
</body>

</html>